.satefy {
    padding: 150px 0;
    display: block;
}

.satefy__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.satefy__slider-content {
    padding: 60px;
    background: #133D8D26;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    max-width: 1076px;
}

.slider-content__text {
    width: 387px;
}
.slider-content__text-top {
    padding: 8px 12px 5px;
    background: #133D8D;

    font-size: 13px;
    font-weight: 550;
    line-height: 18px;

    margin-bottom: 40px;
    display: inline-block;
}
.slider-content__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333333;
    margin-bottom: 25px;
}
.slider-content__list {
    color: #333333;
}
.slider-content__list-item {
    padding-left: 28px;
    position: relative;
    font-size: 14px;
}

.slider-content__list-item + .slider-content__list-item {
    margin-top: 15px;
}

.slider-content__list-item::before {
    content: '';
    position: absolute;
    display: block;
    height: 8px;
    width: 8px;
    left: 0;
    background: #BD0007;
    top: 3px;
}

.slider-content__img {
    flex: 1 1 480px;
}